body {
  margin: 0;
  font-family: sans-serif;
}

#header {
  display: list-item;
  text-align: center;
  background: #74ccf4;
  height: 100px;
  padding: 10px;
}

.container {
  padding: 1rem;
  height: auto;
  background: #fdfdfd;
}

.house-form {
  width: 100%;
  text-align: center;
}

.submit {
  position: relative;
  background-color: #04669b;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.card {
  background-color: #EBF4FA;
  text-align: center;
  border: rgb(26, 25, 80) solid 1px;
  padding: 10px;
  width: 15rem;
  height: 20rem;
  display: inline-grid;
  margin: 10px;
}
/*
.card {
  background-color: #EBF4FA;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
}*/
.submit:hover {
  background-color: whitesmoke;
  border: #04669b solid 1px;
  color: #04669b;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}
